@font-face {
  font-family: TANPearl;
  src: url(../font/tan-pearl-webfont.woff2) format('woff2');
}

@font-face {
  font-family: Avenir;
  src: url(../font/avenir-book-webfont.woff2) format('woff2');
}

html {
  --color1: #335938;
  --color2: #8FAC8B;
  --color3: #373536;
  --color4: #FAFAFA;
}

body {
  margin: 0;
  background-color: var(--color4);
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

h1, h2, h3 {
  font-family: TANPearl;
  color: var(--color1);
}

h1 {
  padding-left: 10px;
  margin-left: 15px;
}

h3 {
  line-height: 40px;
}

p, a {
  font-family: Avenir;
}

p {
  line-height: 150%;
}

a {
  color: var(--color2);
}

img {
  max-width: 100%;
}

dl {
  font-family: Avenir;
  color: var(--color3);
}

dt, dd {
  margin: 5px;
}

dt {
  padding-top: 10px;
}

dd {
  margin-left: 30px;
}

.ikon {
  text-align: center;
  padding: 1em;
  margin: 15px;
}

.ikon img {
  aspect-ratio: 122/11;
  width: 150px;
  height: auto;
}

.left img, .right img {
  border-radius: 50px;
  margin-top: 1.5em;
}

#info img {
  aspect-ratio: 800/800;
  width: 40px;
  height: auto;
  padding-right: 0.5em;
}

#phone, #mail, #linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

#linkedin a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#linkedin img:hover {
  cursor: pointer;
}

footer p {
  text-align: center;
  padding-bottom: 1em;
  color: var(--color4);
  max-width: none;
}

.button a {
  font-size: 20px;
  border: solid 1px var(--color1);
  border-radius: 50px;
  background-color: var(--color4);
  padding: 0.5em;
  text-decoration: none;
  margin: 1em;
}

.button a:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  justify-content: center;
}
